<div>
  <h2 class="card-header mt-1">Comments</h2>
  <div class="shadow-sm p-1">
    <p>
    <strong>Nome:</strong>
    <%= comment.commenter %>
    </p>
    <p>
    <strong>Comentário:</strong>
    <%= comment.body %>
    </p>
  </div>
</div>

