<div class="card container mt-1 shadow-sm">

  <div class="card-body">

  <h1 class="card-title"><strong>New Article</strong> </h1>

  <%= render 'form' %>

  <%= link_to 'Back', articles_path, :class => "btn btn-outline-info" %>

  </div>

</div>