<div class="mt-5 border p-2">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= @article.text %>
  </p>
</div>
<%= link_to 'Show', article_path(@article), :class => "btn btn-outline-success" %> |
<%= link_to 'Back', articles_path, :class => "btn btn-outline-info"  %>
